.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 466px;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
